/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #6699ff;
/* $--color-primary: #7367f0; */
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 500;

 $--color-text-regular: $--color-primary;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-tr:#283046;
$--table-border:1px solid #dfe6ec;

$--select-border-color: #384361;

$--dialog-background-color: $--table-tr;
$--border-radius-small:.45rem;
$--dialog-box-shadow: #fff;
$--color-dilog-text-regular: red;
$--color-text-title: $--border-color-light;
$--dialog-input-color: #9ea9c7;
$--dialog-border-color: blue;
$--dialog-text-color: #000;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
